<nav>
    <h1><a href="/">Medicine Tracker</a></h1>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
    </ul>
</nav>