<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <img src="https://creativebonito.com/wp-content/uploads/2019/03/404-error-page-not-found.png">
    <form action="/">
        <button>Back to Home Page</button>
    </form>
    
</body>
</html>