<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Nesciunt illum obcaecati, perferendis amet quam voluptatibus reprehenderit 
    corrupti suscipit perspiciatis magnam esse tempore ratione pariatur 
    expedita eos nulla praesentium laboriosam maxime.
    </p>
    
</body>
</html>