<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <form class="new-entry" action="/home" method="post">
        <label for="drug-name">Drug Name</label>
        <input type="text" id="drug-name" name="drugName" required>
        <label for="dosage">Doasge(mg/ml)</label>
        <input type="text" id="dosage" name="dosage" required>
        <label for="frequency">Frequency(per day/week)</label>
        <input type="text" id="frequency" name="frequency" required>
        <button>Submit</button>
    </form>
    
</body>
</html>